@import "../variables";

$theme-colors: (
    primary: $fff-green2
);

$link-color:                                $fff-green1;
$font-size-base:                            1rem;
$h1-font-size:                              $font-size-base * 1.6;
$h2-font-size:                              $font-size-base * 1.5;
$h3-font-size:                              $font-size-base * 1.4;
$h4-font-size:                              $font-size-base * 1.3;
$h5-font-size:                              $font-size-base * 1.2;
$h6-font-size:                              $font-size-base * 1.1;

// Forms
$custom-control-indicator-checked-bg:       $fff-green1;
$component-active-bg:                       $fff-green1;
$custom-select-indicator-color:             $fff-green1;
$custom-select-indicator-color:             $fff-green2;
/*
Alternatives Forms
$custom-control-indicator-checked-bg:           $white;
$custom-control-indicator-checked-color:        $fff-green1;
$custom-control-indicator-checked-border-color: $gray-400;
*/

$card-border-color:                         $fff-green1;
$list-group-border-color:                   rgba($fff-green1, .125);
$modal-content-border-color:                rgba($fff-green1, .125);

$card-border-width:                         3px;

$enable-gradients:                          true;

$hr-border-color:                           rgba($fff-green2, .75);
$hr-border-width:                           2px;

$modal-content-border-color:                rgba($fff-green2, .75);
$modal-header-border-color:                 darken($fff-green2,75%);
$modal-backdrop-bg:                         $fff-green2;
$modal-backdrop-opacity:                    .7;

@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 5rem;
    margin-bottom: 7rem;
}

a[href*="//"]:not(.no-external-icon):not(.btn):not([role=button]) {
    &:after {
        @extend %fa-icon;
        @extend .fas;
        font-family: 'Font Awesome 5 Free';
        content: fa-content($fa-var-external-link-alt);
        font-size: 60%;
        vertical-align: super;
    }
}

.sticky-bottom {
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.navbar-expand-sm {
    @media (max-width: 576px) {
        .navbar-collapse {
            max-height: calc(100vh - 125px);
            overflow-y: auto;
        }
    }
}
.navbar-expand-md {
    @media (max-width: 768px) {
        .navbar-collapse {
            max-height: calc(100vh - 125px);
            overflow-y: auto;
        }
    }
}
.navbar-expand-lg {
    @media (max-width: 992px) {
        .navbar-collapse {
            max-height: calc(100vh - 125px);
            overflow-y: auto;
        }
    }
}
.navbar-expand-xl {
    @media (max-width: 1200px) {
        .navbar-collapse {
            max-height: calc(100vh - 125px);
            overflow-y: auto;
        }
    }
}

// Disable Spinners with class
.no-spin {
    &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
        -moz-appearance: textfield !important;
    }
    &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important;
        -moz-appearance: textfield !important;
    }
}

// Custom Scrollbar (not all Browsers)
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: $gray-200;
}
::-webkit-scrollbar-thumb {
    background: rgba($fff-green2, .75);
    border-left: 3px ridge  $gray-300;
    border-right: 3px ridge  $gray-300;
    &:hover {
        background: $fff-green1;
    }
}

/*
Optional: Create Social Buttons:
.btn-facebook {
  @include button-variant($facebook, $facebook);
}
.btn-twitter {
  @include button-variant($twitter, $twitter);
}
.btn-reddit {
  @include button-variant($reddit, $reddit);
}
.btn-vk {
  @include button-variant($vk, $vk);
}
.btn-instagram {
  @include button-variant($instagram, $instagram);
}
*/